h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: center;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.top-pad {
  padding-top:50px;
}

mat-form-field {
  padding: 10px;
}
